{% extends "base.html"%}
{% block title%}Car Details{% endblock title%}
{%block content%}
<div class="jumbotron">
  <h1 class="display-4 hc">Car Info</h1>
  <img class="card" src="{{car.car_img.url}}" width=100% height=100% enctype="multipart/form-data">
  <p class="card-text">Model: {{car.model}}</p>
  <hr class="my-4">
  <p class="card-text">Year:{{car.year}}</p>
  <a class="btn btn-primary btn-lg" href="{% url 'car-update' car.id %}" class="btn btn-outline-primary btn-block">Update <i class="fas fa-pen"></i></a>
  <a class="btn btn-primary btn-lg" href="{% url 'car-delete' car.id %}" class="btn btn-outline-danger btn-block">Delete <i class="fas fa-trash-alt"></i></a>
</div>
{% endblock content%}


